
@{
    ViewBag.Title = "Training（D3.js）";
}

<p>
    @Html.ActionLink("selector demo", "SelectorDemo")
</p>
<p>
    @Html.ActionLink("Enter-Update-Exit", "EnterUpdateExitDemo")
</p>
<p>
    @Html.ActionLink("D3-Array-Method", "D3ArrayMethod")
</p>